DATABASE_URL=postgresql+psycopg2://postgres:postgres@127.0.0.1:5433/parkwise
TEST_DATABASE_URL=postgresql+psycopg2://postgres:postgres@127.0.0.1:5433/parkwise_test

DEBUG=true
SECRET_KEY=change-me

USE_MAPPLS=false
MAPPLS_CLIENT_ID=
MAPPLS_CLIENT_SECRET=
MAPPLS_ACCESS_TOKEN=